:root {
    --fondo: #FFFFFF;
    --fondo-lateral: #211F8B;
    --color-letras: #000000;
    --color-letras-lateral: #FFFFFF;
    --titulos: #464646;
    --fondo-box: #FFFFFF;
    --letras-box: #000000;
    --borde-box: #0E110C;
    --borde-box-segundo: #19F5E4;

    --input-ok: #1ED12D;
    --input-falle: #B72E2E;

    --fuente-enlace: #7023E1;
    --base: #041562;

    --Fuente: 'Titillium Web', sans-serif;
}

.dark {
    --fondo: #000000;
    --color-letras: #FFFFFF;
    --titulos: #FFFFFF;
    --borde-box: #7023E1;
    --fondo-lateral: #000000;
}

body{
    width: 100%;
    height: 100%;
    font-family: var(--Fuente);
    cursor: default;
}

h1{
    padding-top: 10px;
    padding-bottom: 10px;
}