.academic{
    background-color: var(--fondo);
    display: none;
    padding-bottom: 2rem;
}

.academic_title{
    color: var(--titulos);
    font-weight: bold;
	font-size: 32px;
	line-height: 2rem;
	text-align: center;
}

.academic__nav{
    display: flex;
    justify-content: space-around;
    /*Ocultar nav*/
    opacity: 0;
    transform: scale(.9);
	transition: .7s ease-in-out all;
}

.academic__nav.visible{
    opacity: 1;
    transform: scale(1);
}

.academic__box{
    margin-top: 20px;
    display: flex;
    background-color: var(--fondo-box);
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 14rem;
    height: 8rem;
    box-shadow: 3px 3px 3px var(--borde-box);
}

.academic__box ul li{
    margin: 10px;
}

.academic__box:hover{
    box-shadow: 3px 3px 3px var(--borde-box-segundo);
    cursor: default;
}

.academic__img{
    display: block;
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
}

.academic__name{
    justify-content: space-evenly;
}

.academic__box:hover .academic__img {
    width: 7rem;
    height: 6rem;
}
  
 .academic__box:hover .academic__name {
    font-size: 16px;
}

@media screen and (max-width:480px){
    .academic{
        padding: 32px;
        margin-top: 0rem;
    }
    .academic__title{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .academic__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .academic__box{
        margin-top: 4px;
        margin-bottom: 4px;
    }
}