.hobbies{
    background-color: var(--fondo);
}

.hobbies__title{
    font-weight: bold;
	font-size: 32px;
	line-height: 2rem;
	text-align: center;
    color: var(--titulos);
}

.hobbies__nav{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.hobbies__box{
    background-color: var(--fondo-box);
    box-shadow: 2px 2px 2px var(--borde-box);
    width: 14rem;
    /*Nuevo*/
    height: 7.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.hobbies__box li{
    margin: 10px;
}

.hobbies__box:hover{
    box-shadow: 2px 2px 2px var(--borde-box-segundo);
}

.hobbies__img{
    display: block;
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
}

.hobbies__name{
    justify-content: space-evenly;
}

@media screen and (max-width: 720px){
    .hobbies__nav{
        padding: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hobbies__box{
        background-color: var(--fondo-box);
        box-shadow: 2px 2px 10px var(--borde-box);
        color: var(--letras-box);
        width: 12rem;
        /*Nuevo*/
        height: 7.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin-bottom: 4px;
    }
    .hobbies__img{
        margin-top: 6px;
    }
}

@media screen and (max-width:480px){
    .hobbies{
        margin-top: 0rem;
    }
    .hobbies__title{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .hobbies__nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}