.hobbies{
    background-color: var(--fondo);
    padding-bottom: 2rem;
}

.hobbies__title{
    font-weight: bold;
	font-size: 32px;
	line-height: 2rem;
	text-align: center;
    color: var(--titulos);
}

.hobbies__nav{
    display: flex;
    text-align: center;
    justify-content: space-around;
    /*Ocultar nav*/
    opacity: 0;
	transition: .7s ease-in-out all;
}

.hobbies__nav.visible{
    opacity: 1;
}

.hobbies__box{
    margin-top: 20px;
    background-color: var(--fondo-box);
    box-shadow: 3px 3px 3px var(--borde-box);
    width: 14rem;
    /*Nuevo*/
    height: 7.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.hobbies__box li{
    margin: 10px;
}

.hobbies__box:hover{
    box-shadow: 3px 3px 3px var(--borde-box-segundo);
    cursor: default;
}

.hobbies__img{
    display: block;
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
}

.hobbies__name{
    justify-content: space-evenly;
}

.hobbies__box:hover .hobbies__img {
    width: 7rem;
    height: 6rem;
}
  
 .hobbies__box:hover .hobbies__name {
    font-size: 20px;
}

@media (max-width: 1189px) {
    .hobbies{
        width: 1189px;
    }
}


@media screen and (max-width: 720px){
    .hobbies__nav{
        padding: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 12%;
        padding-right: 6%;
    }

    .hobbies__box{
        background-color: var(--fondo-box);
        box-shadow: 2px 2px 10px var(--borde-box);
        color: var(--letras-box);
        width: 10rem;
        /*Nuevo*/
        height: 7.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin-bottom: 4px;
    }
    .hobbies__img{
        margin-top: 6px;
    }
    .hobbies__name{
        font-size: 14px;
        padding-bottom: 4px;
    }
}

@media screen and (max-width:480px){
    .hobbies{
        margin-top: 0rem;
    }
    .hobbies__title{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .hobbies__nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1190px){
    .hobbies{
        padding-top: 30%;
        padding-bottom: 30%;
        margin-left: 16%;
    }
}