.profile{
    background-color: var(--fondo);
}

.conteincer-perfil{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.profile__picture{
    background-color: #FFF;
    border-radius: 50%;
    width: 16vw;
    height: 16vw;
    margin-top: 8px;
    margin-right: 16px;
    box-shadow: 2px 2px 10px var(--borde-box);
}

.network__title{
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--titulos);
}

.network__description{
    font-size: 1.4rem;
    color: var(--titulos);
    /*Nuevo*/
    margin-top: 8px;
}

.network__ul{
    display: flex;
    /*Nuevo*/
    margin-top: 8px;
}

.network__item{
    list-style: none;
}

.network__link{
    margin-right: 1.25rem;
    text-decoration: none;
    color: var(--color-letras);
}

.network__link:hover{
    text-decoration: underline;
    font-size: 18px;
    color: var(--fuente-enlace);
}

@media (max-width: 1189px){
    .profile{
        margin-top: 3.4rem;
        width: 1189px;
    }
    .network__description{
        margin-top: 8px;
    }
    .network__ul{
        margin-top: 4px;
    }
}

@media (max-width: 799px){
    .conteincer-perfil{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1190px){
    .profile{
        padding-top: 30%;
        padding-bottom: 30%;
        margin-left: 16%;
    }
}