.skills{
    background-color: var(--fondo);
}

.skills__title{
    font-weight: bold;
	font-size: 2rem;
	line-height: 2rem;
	text-align: center;
    color: var(--titulos); 
}

.skills__nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.skills__box{
    background-color: var(--fondo-box);
    box-shadow: 2px 2px 2px var(--borde-box);
    color: var(--letras-box);
    width: 14rem;
    /*Nuevo*/
    height: 7.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.skills__box li{
    margin: 10px;
}

.skills__box:hover{
    box-shadow: 2px 2px 2px var(--borde-box-segundo);
}

.skills__img{
    display: block;
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
}

@media screen and (max-width: 900px){
    .skills__nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 10%;
        padding-right: 5%;
    }

    .skills__box{
        background-color: var(--fondo-box);
        box-shadow: 2px 2px 10px var(--borde-box);
        color: var(--letras-box);
        width: 10rem;
        /*Nuevo*/
        height: 7.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin-bottom: 4px;
    }
    .skills__img{
        margin-top: 6px;
    }
}

@media screen and (max-width:480px){
    .skills{
        margin-top: 0rem;
        padding: 16px;
    }
    .skills__title{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .skills__nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .skills__box{
        width: 8rem;
    }
}

/*background-color: var(--fondo-box);
box-shadow: 2px 2px 2px var(--borde-box);
        color: var(--letras-box);
        width: 14rem;
        padding-bottom: 4rem;
        Nuevo
        height: 7.4rem;
        display: flex;
        align-items: center;
        list-style: none;*/